type hal_touch_msmnile, coredomain, domain;
hal_server_domain(hal_touch_msmnile, hal_aoscp_touch)

type hal_touch_msmnile_exec, exec_type, file_type;
init_daemon_domain(hal_touch_msmnile)

# Talk to the binder device node
allow hal_touch_msmnile binder_device:chr_file rw_file_perms;

# Allow access to gesture enable nodes
allow hal_touch_msmnile proc_touchpanel:dir search;
allow hal_touch_msmnile proc_touchpanel:file rw_file_perms;

